body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

code, pre {
    font-family: 'Fira Code', monospace;
    font-size: 0.95rem;
}

.linkedin-icon {
    fill: #0a66c2;
}

.cv-icon {
    fill: #f5403d;
}

.container-timeline {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #aca4a4;
}

.timeline-title {
  position: relative;
  padding-left: 20px;
}

.timeline-title::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 0.3em;
  width: 10px;
  height: 10px;
  background-color: #148dc5; /* choose your dot color */
  border-radius: 50%;
}

.timeline-content {
    margin-left: 20px;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px;
    min-width: 600px;
    max-width: 1000px;
    max-height: 300px;
}

.project-card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fixed-paragraph {
    flex-shrink: 0;
}

.shrinkable-paragraph {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: max-height 0.3s ease;
}