body {
    background-color: #272626;
    color: #ffffff;
    font-family: sans-serif;
    display:flex; 
    flex-direction:column;
    min-height:100vh;
    align-items: center;
    min-width: 320px;
}

h1 {
    font-size: clamp(2rem, 5vw, 2rem);
}

h3 {
    font-size: clamp(1.2rem, 4vw, 1.2rem);
}

.container-about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
}

.name{
    margin-block-end: unset;
}

.social-links {
    display: flex;
    gap: 10px;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.linkedin-icon {
    fill: #0a66c2;
}

.cv-icon {
    fill: #f5403d;
}

.container-timeline {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #aca4a4;
}

.timeline-title {
  position: relative;
  padding-left: 20px;
}

.timeline-title::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 0.3em;
  width: 10px;
  height: 10px;
  background-color: #148dc5;
  border-radius: 50%;
}

.timeline-content {
    margin-left: 20px;
}

.container-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;
    max-height: 600px;
    align-items: center;
}

.project-card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fixed-paragraph {
    flex-shrink: 0;
}

.shrinkable-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

@media (min-width: 768px) {
    .project-card {
        flex-direction: row;
        max-height: 300px;
    }
  .container-about-me {
        flex-direction: row;
    }
}